src/main/mule/implementations/get-Biller.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:bill-payments="http://www.mulesoft.org/schema/mule/bill-payments" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/bill-payments http://www.mulesoft.org/schema/mule/bill-payments/current/mule-bill-payments.xsd">
	<flow name="getbillerFlow" doc:id="54bd10d1-1491-4de7-8172-0e3813f3cb81" >
		<logger level="INFO" doc:name="Before GET Payees Conector" doc:id="078c4939-68f1-4400-9dbe-39fc4166bf81" message="#['Before GET Payees Connector ']"/>
		<bill-payments:get-payees x-channel-aware="CORPORATE" doc:name="Get payees" doc:id="d2829f63-a6e1-4aef-86d1-9ef66628d470" config-ref="Bill_Payments_Config" business-id="#[attributes.queryParams.cif]" customer-id="#[attributes.queryParams.cif]" x-correlation-id="#[attributes.headers.'msg_id']"/>
		<logger level="INFO" doc:name="After GET payees Connector" doc:id="32a05edb-672c-4d99-a89f-34ba238221b7" message="#['After GET Payees Connector']"/>
		<ee:transform doc:name="Mapping Response Payload" doc:id="75ebbe09-0851-4062-a694-e9aea78a4aae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "response_message": "Success",
  "biller_accounts":  payload.biller_accounts map (element, index) -> {
  "vendorId" : element.biller_id,
  "vendorAccountNumber" : element.consumer_number,
  "biller_name": element.biller_name
},
  "response_code": "200"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="intellect-banking-errorhandler" />
	</flow>
</mule>
