src/main/mule/customerProfiles.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="retrieveCustomerProfileFlow" doc:id="c8c687e8-10ec-4c3a-94b3-22243c3ff900" >
		<logger level="INFO" doc:name="Start Logger" doc:id="8d837489-3fe5-4bb0-b9e5-072806b65d7c" message='"Entering to retrieve e-Transfer profile of the specific customer #[attributes.uriParams.id]"'/>
		 <ee:transform doc:name="Transform Message" doc:id="161efcfa-290d-463f-9a54-b53bb2961e49">
					<ee:message>
					</ee:message>
					<ee:variables >
				<ee:set-variable variableName="logPayload" ><![CDATA[%dw 2.0
output application/json
import * from dw::util::Values
---
((payload mask field("sin") with "******") mask field("dob") with "######") mask field("password") with "xxxxxx"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		 <logger level="DEBUG" doc:name="Before_HTTPS_Request_Logger" doc:id="e7ded2a1-9131-4bef-82ef-ceaac51175af" message="'Before HTTPS Request - Get Customer e-Transfer Profile ++ profileId : #[attributes.uriParams.id]'"/>
		<http:request method="GET" doc:name="ETransfers_pAPI_HTTP_Request_configuration" doc:id="5b788057-5cac-4bbe-899f-6c6b7eaee45a" path="/profiles/{profileId}" config-ref="ETransfers_pAPI_HTTP_Request_configuration" sendCorrelationId="ALWAYS" responseTimeout="${api.response.timeout}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-Correlation-Id" : vars.correlationId
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"profileId" : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		 <logger level="DEBUG" doc:name="After_HTTPS_Request_Logger" doc:id="5b642f63-96df-4b6f-a48c-3526148f7372" message="'After HTTPS Request - Get Customer e-Transfer Profile ++ statusCode: #[attributes.statusCode] and payload: #[payload]'"/>
		<ee:transform doc:name="Transform Message" doc:id="e5e023e5-58d8-4751-a08f-929076b72758" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	enabled: if(payload.customerEnabledForMoneyRequests == true) "ENABLED" else "DISABLED",
	customer_enabled_for_money_request: if(payload.customerEnabledForMoneyRequests == true) "ENABLED" else "DISABLED",
	customer_information: {
		product_registration: payload.productRegistrations map ( productRegistration , indexOfProductRegistration ) -> {
			product_code: productRegistration.productCode,
			currency_code: [productRegistration.currencyCode],
			customer_limits_group_id: productRegistration.customerLimitsGroupId
		},
		customer_type: payload.customerType default "CORPORATE",
		customer_name: {
			registration_name: payload.customerName.registrationName,
			legal_name: {
				business_name: {
					company_name: if(payload.customerName.legalName.businessName.companyName? or payload.customerName.legalName.businessName.companyName != '' or payload.customerName.legalName.businessName.companyName != null) payload.customerName.legalName.businessName.companyName else "",
					trade_name: if(payload.customerName.legalName.businessName.tradeName? or payload.customerName.legalName.businessName.tradeName != '' or payload.customerName.legalName.businessName.tradeName != null) payload.customerName.legalName.businessName.tradeName else ""
				}
			}
		},
		language: if(payload.language == "ENGLISH") "EN" else "FR",
		notification_preference: payload.notificationPreferences map ( notificationPreference , indexOfNotificationPreference ) -> {
			"type": notificationPreference.notificationHandleType,
			active: notificationPreference.active
		}
	},
	last_updated_date: payload.lastUpdateDate ++ 'T00:00:01.000Z'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="a691ce31-e752-45ac-9952-275df2e28a00" message='"Customer E-transfer profile has been retrieved successfully"'/>
	</flow>
</mule>
