src/main/mule/direct-Deposits.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Retrive-eTransfer-directDeposits" doc:id="625ffd0f-1568-43ee-b4c8-b9224ec807f4" >
		<logger level="INFO" doc:name="StartLogger" doc:id="abeb28ce-632d-4e9f-bc05-7fc433406960" message='"Entering to  e-Transfer-retrieve-direct-Deposit"' />
		<ee:transform doc:name="Transform Message" doc:id="f378e42b-b276-4251-b13e-0a6f3c133558" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="logPayload" ><![CDATA[%dw 2.0
output application/json
import * from dw::util::Values
---
((payload mask field("sin") with "******") mask field("dob") with "######") mask field("password") with "xxxxxx"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="DEBUG" doc:name="Before_HTTPS_Request_Logger" doc:id="cf4a69c2-71f2-4b70-842a-13d9424d4a92" message="'Before HTTPS Request - &quot;Get  e-Transfer-retrieve-direct-Deposit&quot;"/>
		 <until-successful maxRetries="5" doc:name="Until Successful" doc:id="4e601232-dfef-4fad-beda-a82fc59dadc3" >
			<http:request method="GET" doc:name="ETransfers_pAPI_HTTP_Request_configuration" doc:id="c47a329c-0c2b-4c2b-9465-0caf846949ce" config-ref="ETransfers_pAPI_HTTP_Request_configuration" sendCorrelationId="ALWAYS" responseTimeout="${api.response.timeout}" path="/direct-deposits">
			<http:headers><![CDATA[#[output application/java
---
{
	"x-et-participant-user-id" : attributes.headers.'x-et-participant-user-id'
}]]]></http:headers>
				<http:query-params ><![CDATA[#[output application/json
---
{
	"serviceType" : attributes.queryParams.serviceType,
	"participantAutodepositId" : attributes.queryParams.participantAutodepositId,
	"autodepositHandle" : attributes.queryParams.autodepositHandle
}]]]></http:query-params>
		</http:request>
		</until-successful>
		<logger level="DEBUG" doc:name="After_HTTPS_Request_Logger" doc:id="684dc1d2-51d9-47a4-979f-bbb0a25b09da" message="'After HTTPS Request - &quot;Get  e-Transfer-retrieve-direct-Deposit&quot;"/>
<ee:transform doc:name="Transform Message" doc:id="b1efdd23-ae0d-49f9-b45b-636b40412acb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "account_alias_registrations": [
    {
      "account_alias_notification_preference": "CUSTOMER_LEVEL",
      "account_alias_registration_expiry_date": "2020-01-23T12:34:56.123Z",
      "service_type": payload.serviceType[0],
      "participant_account_alias_reference": "stringst",
      "language":  if ( payload.language == "ENGLISH" ) "ENGLISH" else "FRENCH",
      "permissions": "AUTO_DEPOSIT",
      "customer_account": {
        "fi_account_id": payload.customerAccount.fiAccountId.productNumber[0] as Number ++ "-" ++ payload.customerAccount.fiAccountId.branch[0] as Number++ "-" ++ payload.customerAccount.fiAccountId.productType[0] as Number++ "-" ++ payload.customerAccount.fiAccountId.productCategory[0] as Number,
        "account_holder_name": payload.customerAccount.accountHolderName[0],
        "bank_account_identifier": {
          "type": "CANADIAN",
          "account": payload.customerAccount.bankAccountIdentifier.accountNumber[0]
        }
      },
      "sender_account_identifier_required": true,
      "account_alias_reference": "stringst",
      "account_alias_handle": "support@interac.ca",
      "account_creation_date": "2020-01-23T12:34:56.123Z",
      "legal_name": if (payload.legalName.retailName != "" and payload.legalName.retailName != null  )"retailname": payload.legalName.retailName[0]else "businessName" :payload.legalName.businessName[0] default "businessName":payload.legalName.businessName[0],
      "registration_status": payload.registrationStatus[0]
    }
  ]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="4cb3bfe4-e566-4709-950c-0fc00b806f63" message='"Customer E-transfer direct deposit details  retrieved successfully"'/>
		<error-handler ref="intellect-banking-errorhandler" />
	</flow>
	<flow name="retrive-eTransfers-directDeposits-directDepositID" doc:id="5ada507d-539a-4901-88b9-62bad9667337" >
		<logger level="INFO" doc:name="StartLogger" doc:id="8d3497a0-9f85-4bd9-a008-bc87a238d28d" message='"Entering to  e-Transfer-retrieve-direct-Deposit"' />
		<ee:transform doc:name="Transform Message" doc:id="35ccb150-d28c-4b63-9cc2-476fbd8d8117">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="logPayload"><![CDATA[%dw 2.0
output application/json
import * from dw::util::Values
---
((payload mask field("sin") with "******") mask field("dob") with "######") mask field("password") with "xxxxxx"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="DEBUG" doc:name="Before_HTTPS_Request_Logger" doc:id="814d1590-c6c5-47db-bec8-e613b14bd5ce" message="'Before HTTPS Request - &quot;Get  e-Transfer-retrieve-direct-Deposit&quot;"/>
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="c4f39ab1-fb38-44cf-b2ed-9a5bdeb2593e" >
			<http:request method="GET" doc:name="ETransfers_pAPI_HTTP_Request_configuration" doc:id="afacf6b2-5c64-4907-9db8-57f2dc397586" path="/direct-deposits/{directDepositID}" config-ref="ETransfers_pAPI_HTTP_Request_configuration" sendCorrelationId="ALWAYS" responseTimeout="${api.response.timeout}">
			<http:headers><![CDATA[#[output application/java
---
{
	"X-Correlation-Id" : vars.correlationId
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"directDepositID":  attributes.uriParams.directDepositID
}]]]></http:uri-params>
		
</http:request>
		</until-successful>
		<logger level="DEBUG" doc:name="After_HTTPS_Request_Logger" doc:id="3750bc92-7de0-4380-93e0-e181cd6c4874" message="'After HTTPS Request - &quot;Get  e-Transfer-retrieve-direct-Deposit&quot;"/>
<ee:transform doc:name="Transform Message" doc:id="2ff8876a-e252-4f4a-9e8c-ce251a5ddf17" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "account_alias_registrations": {
    "type": {
      "service_type": payload.serviceType[0] default null,
      "account_alias_handle": "support@interac.ca",
      "account_creation_date": "2020-01-23T12:34:56.123Z",
      "participant_account_alias_reference": "stringst",
      "account_alias_notification_preference": "CUSTOMER_LEVEL",
      "language": if ( payload.language == "ENGLISH" ) "ENGLISH" else "FRENCH",
      "legal_name":  if (payload.legalName.retailName != "" and payload.legalName.retailName != null  )"retailname": payload.legalName.retailName[0]else "businessName" :payload.legalName.businessName[0] default "businessName":payload.legalName.businessName[0] default null,
      "customer_account": {
        "fi_account_id": payload.customerAccount.fiAccountId.productNumber[0] as Number ++ "-" ++ payload.customerAccount.fiAccountId.branch[0] as Number++ "-" ++ payload.customerAccount.fiAccountId.productType[0] as Number++ "-" ++ payload.customerAccount.fiAccountId.productCategory[0] as Number default null,
        "account_holder_name": payload.accountHolderName,
        "bank_account_identifier": {
          "type": "CANADIAN",
          "account": payload.customerAccount.bankAccountIdentifier[0].accountNumber
        }
      },
      "sender_account_identifier_required": true,
      "permissions": "AUTO_DEPOSIT"
    },
    "account_alias_reference": "stringst",
    "registration_status": payload.registrationStatus,
    "account_alias_registration_expiry_date": "2020-01-23T12:34:56.123Z"
  }}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="d396d7a0-100a-46e2-aa5b-ee16d641411d" message='"Customer E-transfer direct deposit details  retrieved successfully"'/>
		<error-handler ref="intellect-banking-errorhandler" />
	</flow>
	<flow name="delete-eTransfers-directDeposits-directDepositID" doc:id="297f66f9-34bd-4335-b142-7e3b1dd2d504" >
		<logger level="INFO" doc:name="StartLogger" doc:id="a94a1644-4920-46a8-be2f-03e594bc037e" message='"Entering to  e-Transfer-delete-direct-Deposit"' />
		<ee:transform doc:name="Transform Message" doc:id="eea4a000-3d94-453d-a716-e1103764704d" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logPayload" ><![CDATA[%dw 2.0
output application/json
import * from dw::util::Values
---
((payload mask field("sin") with "******") mask field("dob") with "######") mask field("password") with "xxxxxx"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="DEBUG" doc:name="Before_HTTPS_Request_Logger" doc:id="e9fcd3d4-eba7-42ed-b839-293c346b4fc7" message="'Before HTTPS Request - &quot;Get  e-Transfer-delete-direct-Deposit&quot;" />
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="441b9802-d07a-45a1-bdbc-9c95f5b8531f" >
			<http:request method="DELETE" doc:name="ETransfers_pAPI_HTTP_Request_configuration" doc:id="50e12e83-189c-47fb-9166-ea65370d87ff" config-ref="ETransfers_pAPI_HTTP_Request_configuration" path="/direct-deposits/{directDepositID}" sendCorrelationId="ALWAYS" responseTimeout="${api.response.timeout}">
			<http:headers><![CDATA[#[output application/java
---
{
	"X-Correlation-Id" : vars.correlationId
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"directDepositID":  attributes.uriParams.directDepositID
}]]]></http:uri-params>
		</http:request>
		</until-successful>
		<logger level="DEBUG" doc:name="After_HTTPS_Request_Logger" doc:id="563237f5-6874-486c-bf97-fb545d84f52e" message="'After HTTPS Request - &quot;Get  e-Transfer-delete-direct-Deposit&quot;" />
		<ee:transform doc:name="Transform Message" doc:id="b1aea2e7-0ab7-4a5c-b415-541b81db342f" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="statuscode" ><![CDATA[204]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="93a7bdbb-454c-4c88-91c0-48fad2c313b4" message='"Customer E-transfer direct deposit details  deleted successfully"' />
		<error-handler ref="intellect-banking-errorhandler" />
	</flow>
	</mule>
