src/main/mule/intellect-banking.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="intellect-banking-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.headers.'x-Correlation-id' default uuid()]" doc:name="Set CorrelationId Variable" doc:id="1f2aa09b-859b-43b9-9f0c-931cd0c49782" variableName="correlationId" />
        <apikit:router config-ref="intellect-banking-config" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="df97bb66-fd63-46d9-966f-a5e3818cc7c0" type="APIKIT:BAD_REQUEST">
                <set-variable value="#[400]" doc:name="Set Variable httpStatus" doc:id="4f60f74f-bea8-4b03-8960-fe8124b6265a" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="6b93b8e5-4381-4270-816d-132a32aa0325">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "400",
  "text": "Bad request"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b755b670-5982-4227-8e5d-31f485ef543e" type="APIKIT:NOT_FOUND">
                <set-variable value="#[404]" doc:name="Set Variable httpStatus" doc:id="57e5e9ac-aa52-4ef1-b323-be55f2eaf584" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="a1325022-53a1-4df3-968a-3926d6162e14">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "404",
  "text": "Resource not found"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d21a317a-760c-428c-a76a-2530640c6c93" type="APIKIT:METHOD_NOT_ALLOWED">
                <set-variable value="#[405]" doc:name="Set Variable httpStatus" doc:id="8d9d21c7-7c2c-4a03-b406-e12a95a3a2de" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="00126f41-fab5-4b12-9cbb-338bfa4d9566">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "405",
  "text": "Method not allowed"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ab037263-01c4-44da-b50e-8b3ed96aa76b" type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-variable value="#[415]" doc:name="Set Variable httpStatus" doc:id="88c4391b-d7e6-4b00-a98f-a2a097e962d3" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="e4918ffc-0337-4ce9-a587-65d808b695f4">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "415",
  "text": "Unsupported media type"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ad3a8853-92cf-479c-a49b-613c56205774" type="HTTP:BAD_REQUEST">
                <set-variable value="#[400]" doc:name="Set Variable httpStatus" doc:id="a0b0d5d8-c54c-4226-a116-019da40528f7" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="9917f599-8d73-4566-8e8a-8bdec06f33b1">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "400",
  "text": "HTTP Bad Request"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f55682df-c654-467e-a944-8ed7b00ee4b7" type="HTTP:UNAUTHORIZED">
                <set-variable value="#[401]" doc:name="Set Variable httpStatus" doc:id="0883489e-07e8-41c8-99fb-a7134c4c5127" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="e9d7a02b-08da-4f14-ab01-1feef07b6bfc">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "401",
  "text": "HTTP Unauthorized"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="431bdb1b-1132-4ac3-9195-5ef4cd4e3c96" type="HTTP:NOT_FOUND">
                <set-variable value="#[404]" doc:name="Set Variable httpStatus" doc:id="6468985f-6ffa-4cf8-8fdf-023a9a4482f2" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="e58621be-ea34-4606-a524-9ab4cb8f666e">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "404",
  "text": "HTTP Resource not found"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b25eca5a-f785-4860-a9e5-73451fe7b5fb" type="HTTP:METHOD_NOT_ALLOWED">
                <set-variable value="#[405]" doc:name="Set Variable httpStatus" doc:id="44bcc7cc-feab-476a-9dbc-0c1196e2f462" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="505a3082-ad7e-4400-bac7-72728fd668cf">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "405",
  "text": "HTTP Method is not allowed"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cda409de-01ea-41a1-aead-a400eec7b3a8" type="HTTP:UNSUPPORTED_MEDIA_TYPE">
                <set-variable value="#[415]" doc:name="Set Variable httpStatus" doc:id="93de7f55-cb9c-49a3-883d-5c3021006340" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="033ccadc-b8ef-4adf-956a-66c1323681f5">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "415",
  "text": "HTTP Media Type not supported"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="740d9693-c19f-43f8-ac18-f27e20d53384" type="HTTP:INTERNAL_SERVER_ERROR">
                <set-variable value="#[500]" doc:name="Set Variable httpStatus" doc:id="0aa947ad-4d00-4d0b-ac67-d750efe688ff" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="e6bfee30-6adc-48e7-9fb6-842aef842d99">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "500",
  "text": "Internal server error"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="intellect-banking-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="intellect-banking-config" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="62fd6403-d349-4626-89d9-ed515489c47f" type="APIKIT:BAD_REQUEST">
                <set-variable value="#[400]" doc:name="Set Variable httpStatus" doc:id="4e80032a-effc-4d78-ab81-7309846f6960" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="ef508cff-1e72-43e6-b305-dc77c8ea1626">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "400",
  "text": "Bad request"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="446ad595-f39d-4b6c-bbfe-a4adedfcec6b" type="APIKIT:NOT_FOUND">
                <set-variable value="#[404]" doc:name="Set Variable httpStatus" doc:id="64cb0f09-a78d-452a-8111-679825ae50aa" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="507520b2-396e-44f9-b4b4-a10ad4dfe61e">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "404",
  "text": "Resource not found"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3060bab2-ae76-4dac-9cf0-71944fa4e1e5" type="APIKIT:METHOD_NOT_ALLOWED">
                <set-variable value="#[405]" doc:name="Set Variable httpStatus" doc:id="8fc981e3-65db-4547-bc5d-c40c9707453f" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="cbcce324-d309-45d2-8244-6ed5d5156426">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "405",
  "text": "Method not allowed"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="360c8541-3df6-4ade-ac4f-fac79cd9d592" type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-variable value="#[415]" doc:name="Set Variable httpStatus" doc:id="2be8eb00-86b2-4a22-8b3c-1a7b73950348" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="e096409b-7c9e-47a0-bf3d-adc080f791c4">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "415",
  "text": "Unsupported media type"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0f6f9f26-7e2b-4ad0-9636-c810063a0e8f" type="HTTP:BAD_REQUEST">
                <set-variable value="#[400]" doc:name="Set Variable httpStatus" doc:id="f1fe8eae-17cf-44b4-9601-3f860f4ee895" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="e5923636-4183-4c52-a435-b4aff6a7e1e1">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "400",
  "text": "HTTP Bad Request"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="854c75e5-006f-4e61-9f59-773068738e76" type="HTTP:UNAUTHORIZED">
                <set-variable value="#[401]" doc:name="Set Variable httpStatus" doc:id="41633916-80f1-4e93-b858-d403dc39726a" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="e471c010-5569-498a-be11-81477459b18a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "401",
  "text": "HTTP Unauthorized"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2571fe5e-c1ce-4373-9795-d8f6d7dfbd8f" type="HTTP:NOT_FOUND">
                <set-variable value="#[404]" doc:name="Set Variable httpStatus" doc:id="ba17e071-a5f9-4b3c-82c6-88f148a84338" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="76037561-0234-4e48-b373-8aa7d203ae2f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "404",
  "text": "HTTP Resource not found"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="db1039c0-515f-4149-9521-86bbb4e9512c" type="HTTP:METHOD_NOT_ALLOWED">
                <set-variable value="#[405]" doc:name="Set Variable httpStatus" doc:id="a68a93f3-f060-4464-bb00-6f7cf0d46073" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="24a9d7e1-a8dd-4241-8489-7665df99a3e8">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "405",
  "text": "HTTP Method is not allowed"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="04704613-7451-46a3-a6d4-0e05a844a9d8" type="HTTP:UNSUPPORTED_MEDIA_TYPE">
                <set-variable value="#[415]" doc:name="Set Variable httpStatus" doc:id="b171ccf3-107c-4776-be61-ed45159dbcd0" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="bad472a5-6c29-47ab-b6c6-6d06e2cf73f5">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "415",
  "text": "HTTP Media Type not supported"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f1b65c06-63c4-4d9e-8202-7f879da242e0" type="HTTP:INTERNAL_SERVER_ERROR">
                <set-variable value="#[500]" doc:name="Set Variable httpStatus" doc:id="dec2a554-6bbd-4cfd-853d-b65a43a18bd7" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="462056d6-85c6-4a92-bbf8-0bd413fc0826">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "code": "500",
  "text": "Internal server error"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\eTransfers\payments\transaction:application\json:intellect-banking-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="15342d0c-583e-417b-a9e0-ee129f4367db" message="flow started"/>
		<flow-ref doc:name="PaymentsCommit - Flow Reference" doc:id="f24372d0-e3e2-4572-adf2-5d3ba2eece1c" name="paymentsCommitFlow" />
		<logger level="INFO" doc:name="End Logger" doc:id="927b7922-5774-4113-be03-3c2c0f426012" message="flow ended"/>
    </flow>
    <flow name="get:\eTransfers\payments\options:intellect-banking-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="9444bd01-5fea-4757-ac95-6f1f9d2ffc7f" message="flow started"/>
		<flow-ref doc:name="GetPaymentOptions-Flow Reference" doc:id="a0fa4bf1-ba8e-4b7c-8fc5-65bdb6ac1270" name="getPaymentOptionsFlow" />
		<logger level="INFO" doc:name="End Logger" doc:id="5244877c-93fa-4d66-bec4-524ee242ab60" message="flow ended"/>
    </flow>
    <flow name="get:\eTransfers\customers\(id):intellect-banking-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="98973d10-1b1b-46bf-92b2-0390c4c1167e" message="flow started"/>
		<flow-ref doc:name="Retrieve Customer-Flow Reference" doc:id="da406aab-a3e1-4e0b-843a-7c4da97c3f8b" name="retrieveCustomerProfileFlow" />
		<logger level="INFO" doc:name="End Logger" doc:id="d7fe9a89-e164-4b6a-91e1-4d003d50c73d" message="flow ended"/>
    </flow>
    <flow name="post:\eTransfers\payments\transaction:application\json:intellect-banking-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="072baf5d-981c-40af-bb56-1a4b44d19c60" message="flow started"/>
		<flow-ref doc:name="PaymentsTransactions - Flow Reference" doc:id="3b6690d5-faed-41a0-b329-544de7622aa0" name="paymentsPreprocessFlow" />
		<logger level="INFO" doc:name="End Logger" doc:id="dccc6a0f-e67b-4d9a-890b-a00845db051c" message="flow ended"/>
    </flow>
    <flow name="get:\eTransfers\requests\(id)\incoming:intellect-banking-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="0db0713f-5027-4a91-8656-00fc8aa4f834" message="flow started "/>
		<flow-ref doc:name="Retrieve Incoming RequestToPay - Flow Reference" doc:id="ec6f57ef-7096-465e-8ef1-dd6f18a325bb" name="RetrieveincomingRequestToPay" />
		<logger level="INFO" doc:name="End Logger" doc:id="ebb612c4-152a-4ae9-9553-163fcfce43fa" message="flow ended"/>
    </flow>
    <flow name="post:\eTransfers\payments\(id)\cancel:application\json:intellect-banking-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="09e440ce-d16a-43d2-a6d5-e385aa2ea428" message="flow started"/>
		<flow-ref doc:name="CancelPayments - Flow Reference" doc:id="59aac115-ec72-4a59-afdc-2d792211c583" name="cancelPaymentsFlow" />
		<logger level="INFO" doc:name="End Logger" doc:id="b538f34d-d1cc-491d-8390-5f4d470ab5f2" message="flow ended"/>
    </flow>
    <flow name="post:\eTransfers\requests:application\json:intellect-banking-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="9a6e5c81-71bd-46b2-a8ae-a978640a6b0f" message="flow  started "/>
		<flow-ref doc:name="outgoingRequestToPay - Flow Reference" doc:id="998022eb-6dd4-4567-99c6-20550ee3041f" name="outgoingRequestToPayFlow" />
		<logger level="INFO" doc:name="End Logger" doc:id="e3696d0e-7c3d-4819-abfb-daf5f01093dc" message="flow ended"/>
    </flow>
    <flow name="patch:\eTransfers\payments\(id)\authenticate:application\json:intellect-banking-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="4eb4e3fd-05bc-40a8-b53e-904238aa0dca" message="floe started"/>
		<flow-ref doc:name="Authenticate - Flow Reference" doc:id="f96fce2a-490b-4600-92dd-1c00a9b754ff" name="AuthenticateFlow"/>
		<logger level="INFO" doc:name="End Logger" doc:id="5672cf5c-5d88-4a95-a152-c7b4e6376a8b" message="flow ended"/>
    </flow>
    <flow name="get:\eTransfers\payments\(id)\receive:intellect-banking-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="501a027a-1db2-4c57-ad33-2f91c442974f" message="flow started "/>
		<flow-ref doc:name="ReceiveIncomingTransfer - Flow Reference" doc:id="1cf76ba3-2cd7-4369-8a6b-cf245a7b0bfd" name="ReceiveIncomingTransferFlow" />
		<logger level="INFO" doc:name="End Logger" doc:id="cd829ce1-34b7-4e9d-b4c2-0a3d6056d813" message="flow ended"/>
    </flow>
    <flow name="post:\eTransfers\payments\(id)\receive\decline:application\json:intellect-banking-config">
        <logger level="INFO" doc:name="StartLogger" doc:id="1b9b1f62-fa66-411d-b684-5682c37d8240" message="flow started"/>
		<flow-ref doc:name="DeclineETransfer - Flow Reference" doc:id="5c714b0d-edd2-467c-b588-6de87f202f05" name="DeclineETransferFlow" />
		<logger level="INFO" doc:name="End Logger" doc:id="4d787f1e-8f1e-455d-861c-49d2171bec3b" message="flow ended"/>
    </flow>
    <flow name="get:\eTransfers\payments\(id):intellect-banking-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="36e3e9cd-c72e-44ec-9c68-71c9c6cc47a5" message="flow started"/>
		<flow-ref doc:name="GetOutgoingPayments - Flow Reference" doc:id="0365a7e7-1dff-40e3-8962-801f4ae3a521" name="GetOutgoingPaymentsFlow"/>
		<logger level="INFO" doc:name="End Logger" doc:id="996a2e35-7f1a-487d-aeca-1ed04d92e097" message="flow ended"/>
    </flow>
	<flow name="post:\eTransfers\payments\(id)\receive\transaction" doc:id="6b65ae81-9dee-49fe-873e-09848a6bfdbc" >
		<logger level="INFO" doc:name="Start Logger" doc:id="c39856d6-ce28-47c6-a7f5-5f219ad19a1c" message="flow ended "/>
		<flow-ref doc:name="preprocess-Flow-etransfer" doc:id="42b4f3c8-f874-48e3-becd-2b1d19ddd252" name="preprocess-Flow-etransfer"/>
		<logger level="INFO" doc:name="End Logger" doc:id="02133d76-b5d1-47c7-9acf-9857cf39e68a" message="flow ended"/>
		<error-handler ref="intellect-banking-errorhandler" />
	</flow>
	<flow name="put:\eTransfers\payments\(id)\receive\transaction" doc:id="c910bbe9-c3f4-4621-bda9-91a0b1810992" >
		<logger level="INFO" doc:name="Start Logger" doc:id="4a2bfb8c-9d89-46be-b787-09be9fca0dcd" message="flow started "/>
		<flow-ref doc:name="commit-preprocessFlow" doc:id="38684b56-c1d8-4272-93db-5da22c324d2f" name="profile-transferId-participantId-commit"/>
		<logger level="INFO" doc:name="End Logger" doc:id="24fc4aeb-1dc9-4d5b-a9ac-acac81270b3f" message="flow ended"/>
	</flow>
	<flow name="get:\eTransfers\direct-deposits" doc:id="48d74dcd-e1b4-4a15-8ad4-4a0d05cff983" >
		<logger level="INFO" doc:name="Start Logger" doc:id="8a13d138-7f3b-4285-ae0d-60fa9d334af3" message="flow started"/>
		<flow-ref doc:name="Retrive-eTransfer_directDeposits" doc:id="345a5be9-919e-4b88-9261-d2ea9f720cfc" name="Retrive-eTransfer-directDeposits"/>
		<logger level="INFO" doc:name="End Logger" doc:id="d1e30d9d-3e17-4c2e-8551-0ef0a23a95d5" message="flow ended "/>
	</flow>
	<flow name="get:\eTransfers\direct-deposits\(directDepositID)" doc:id="8e804187-4ccc-41ea-ad00-59632e847df8" >
		<logger level="INFO" doc:name="Start Logger" doc:id="13da4496-d706-4fb2-a9dc-c790ce9d1913" message="flow started "/>
		<flow-ref doc:name="eTransfers-direct-deposits-directDepositID" doc:id="c19db481-70d8-4bc5-bfbe-fb23df04a26b" name="retrive-eTransfers-directDeposits-directDepositID"/>
		<logger level="INFO" doc:name="End  Logger" doc:id="74c0ee73-a0a5-4f1e-b23d-f49883bead92" message="flow ended"/>
	</flow>
	<flow name="delete:\eTransfers\direct-deposits\(directDepositID)" doc:id="4e178cc9-8e09-4d8a-90a8-f34192e791cf" >
		<logger level="INFO" doc:name="Start Logger" doc:id="df37f3d9-0f79-4487-810b-95d48ed54b2c" />
		<flow-ref doc:name="delete-eTransfers-direct-Deposits-directDepositID" doc:id="e3cd4001-a7d7-41fb-8751-3f8ab76a7785" name="delete-eTransfers-directDeposits-directDepositID"/>
		<logger level="INFO" doc:name=" End Logger" doc:id="420fae79-cf0f-4a1c-a38c-bf8c4f1b1a20" />
	</flow>
	
	 <flow name="get:\bill-payment\getBiller:intellect-banking-config">
		<logger level="INFO" doc:name="Start-Logger" doc:id="af0095ba-3a2d-485e-962b-eaa8400706ba" message="#['started GET Biller']"/>
		<flow-ref doc:name="Retrieve-bill-payment-getBiller" doc:id="d77fa819-8869-441f-83bc-c7015788d10a" name="getbillerFlow"/>
		<logger level="INFO" doc:name="End-Logger" doc:id="100b0e6e-8b8e-4d65-89f0-fd47cb0d5041" message="#['End of GET Biller']"/>
    </flow>
    <flow name="post:\bill-payment\addBiller:application\json:intellect-banking-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response_code: "400",
  response_message: "Bad Request"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\EFT\file-upload-request:application\json:intellect-banking-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  channelSeqId: "C250720170000002",
  status: "Success",
  valErrors: {
    errCode: "",
    errRemark: ""
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\bill-payment\reverseBillPayment:application\json:intellect-banking-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response_code: "400",
  response_message: "Bad Request"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\bill-payment\submitBillPayment:application\json:intellect-banking-config">
		<logger level="INFO" doc:name="Start-Logger" doc:id="ad43753b-e4d9-4222-b76c-2d42facc807f" message="#['bill-payment-submitBillPayment flow started']"/>
		<flow-ref doc:name="bill-payment-submitBillPaymentFlow" doc:id="129434f3-b2b2-4439-835c-a42e341c6f0d" name="submit-billPaymentFlow"/>
		<logger level="INFO" doc:name="End-Logger" doc:id="d764cab5-06d4-4dbf-82d0-6f1438f7dda0" message="#['bill-payment-submitBillPayment flow ended']"/>
    </flow>
    
    
     <flow name="post:\bill-payment\deleteBiller:application\json:intellect-banking-config">
		<logger level="INFO" doc:name="Start-Logger" doc:id="97032654-d8e4-412f-8662-28c5ef877d3b" message="#['bill-payment-deleteBiller flow started']" />
		<flow-ref doc:name="bill-payment-deleteBillerSub_Flow" doc:id="48719f6f-2982-451e-916a-56efce7746ba" name="deleteBillerSub_Flow" />
		<logger level="INFO" doc:name="End-Logger" doc:id="0423487c-42dc-4428-8ea6-fb0cbc986eba" message="#['bill-payment-deleteBiller flow ended']" />
		<error-handler ref="intellect-banking-errorhandler-500" />
    </flow>
    
    
	
</mule>
